Port 22
Protocol 2
PermitRootLogin yes
PasswordAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile /run/tileops/authorized_keys
UsePAM no
PermitEmptyPasswords no
SetEnv LD_LIBRARY_PATH=/usr/local/lib:/usr/local/nvidia/lib:/usr/local/nvidia/lib64:/usr/local/cuda/lib64
AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding yes
Subsystem sftp internal-sftp
PidFile /run/sshd.pid
LogLevel ERROR
